<div th:replace="/Fragments/head"></div>

<div class="gonza">

<h4>EDIT YOUR BUSINESS</h4>
<p th:text="'Edit your business details below:'" />
<p th:text="${business.getId()}" style="display:none" />

<form th:action="@{/businessPage/{id}(id=${business.id})}" th:object="${business}" method="GET">

    <p>Business Name: <input type="text" th:value="${(business!=null)?business.getBusinessName:null}" /></p>
    <p>Email: <input type="email" th:value="${(business!=null)?business.getEmail:null}" /></p>
    <p>Mobile: <input type="text" th:value="${(business!=null)?business.getMobile:null}" /></p>
    <p>Address: <input type="text" th:value="${(business!=null)?business.getPhysicalAddress:null}" /></p>
    <p>Location (e.g. Mwenge): <input type="text" th:value="${(business!=null)?business.getLocation:null}" /></p>
    <p>Category: <input type="text" th:value="${(business!=null)?business.getCategory:null}" /></p>
    <p>Tin Number: <input type="text" th:value="${(business!=null)?business.getTinNumber:null}" /></p>
    <p>Link - Website, Social Media, etc:</p>
    <input type="text" th:value="${(business!=null)?business.getLink:null}" />

    <br><br>

    <input type="submit" value="^Submit Changes" />
    <input type="submit" value="Cancel" style="color:red"/>

</form>

</div>

<div th:replace="/Fragments/footer"></div>