<div th:replace="/Fragments/head"></div>

<h3>PROFILE</h3>
<p th:text="'Welcome! Below are the details you submited. (* hidden)'" />

<p th:text="'Business Name: ' + ${theBusiness.businessName}" />
<p th:text="'Email*: ' + ${theBusiness.email}" />
<p th:text="'Mobile*: ' + ${theBusiness.mobile}" />
<p th:text="'Address: ' + ${theBusiness.physicalAddress}" />
<p th:text="'Location: ' + ${theBusiness.location}" />
<p th:text="'Category: ' + ${theBusiness.category}" />
<p th:text="'Tin Number: ' + ${theBusiness.tinNumber}" />
<p th:text="'Link: ' + ${theBusiness.link}" />

<a href="/">Go to Homepage</a>

</form>
<div th:replace="/Fragments/footer"></div>